html {
    background-color: #BBD5ED;
}

body {
    margin: 0px;
    background-color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #5E314B;
    padding-top: 15px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
    
}

.logoBacking {
    align-self: center;
    background-color: #BBD5ED;
    height:100px;
    border-radius: 50px;
}

img.logo {
    max-width: 100px;
    height: auto;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 35px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
}

h4 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

li a {
    color: #FFFFFF;
}

li a.current {
    color: #37FF8B;
}

.trimCont {
    display: flex;
}

.trim {
    max-width:100%;
}

.mainContent {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.firstContent {
    display: flex;
    flex-direction: column;
}

.firstImg {
    width:100%;
    height: auto;
    margin-bottom: 15px;
}

.rightTop {
    background-color: #37FF8B;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-bottom:15px;
    color: #5E314B;
    box-shadow: 0px 0px 15px;
}

.rightTop a {
    color: #5E314B;
    border: solid #5E314B 2px;
    padding: 12px;
}

.rightTop h2 {
    margin: 0px;
    margin-bottom: 20px;
}

.rightTop p {
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.webIcons div img {
    margin-bottom: 15px;
}

.webIcons div h4 {
    margin: 0px;
    margin-bottom: 15px;
    color: #5E314B;
}

.title {
    color: #FFFFFF;
    background-color: #5E314B;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.title h3 {
    margin: 0px;
}

.gallery {
    background-color: #37FF8B;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px;
}

.galImages {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 15px;
}

.socialIcons {
    width: 345px;
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 15px;
}

.socialIcons img{
    width: 85px;
    height: auto;
}

.gallery h3 {
    color:#5E314B;
    margin: 0px;
}

.webIcons {
    display: flex;
    justify-content: space-evenly;
    padding:15px;
    border: solid 2px #5E314B;
    border-radius: 25px;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

div .web {
    width: 125px;
}

.webLeft, .webRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #5E314B;
    padding: 25px;
}

h5 {
    display: flex;
    justify-content: center;
    line-height: 25px;
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
}

/* Menu Page */

.fTwo {
    display: none;
}

.textbox {
    color: #5E314B;
    background-color:#37FF8B;
}

.textbox ul {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.menuIcons {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuIcons img {
    width: 75px;
    height: auto;
    margin-bottom: 15px;
}

.menuIcons h4 {
    margin-top: 0px;
    margin-bottom: 14px;
}

.textbox {
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.menuLists img {

    width: 100%;

}

@media screen and (min-width: 768px) {

    nav {
        width: 35%;
        align-self: center;
    }

    nav ul {
        justify-content: space-between;
    }

    .mainContent {
        padding: 30px;
    }

    .firstContent {
        display:grid;
        grid-template-areas: 
        "image image image icons"
        "image image image icons"
        "text text text icons"; 
        margin-bottom: 15px;
    }

    .firstImg {
        grid-area: image;
    }

    .rightTop {
        grid-area: text;
        margin: 0px;
    }

    .webIcons {
        grid-area: icons;
        flex-direction: column;
        margin-left: 15px;
        margin-bottom: 0px;
    }

    .galImages {
        display: grid;
        max-width: 767px;
        width: 100%;
        grid-template-areas:
         "shake shake shake shake"
         "shake shake shake shake"
         "two two hold hold";
    }

    .galOne {
        grid-area: two;
        max-width: 100%;
        height: auto;
    }
    
    .galTwo {
        grid-area: hold;
        max-width: 100%;
        height: auto;
    }
    
    .galThree {
        grid-area: shake;
        height: auto;
    }

    /* Menu Page */

    .fOne {
        display:none;
    }

    .fTwo {
        display: block;
    }

    .menuIcons {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .mIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuIcons img {
        width: 150px;
        height: auto;
        margin-bottom: 25px;
    }

    .menuIcons h4 {
        margin-top: 0px;
    }

    .textbox {
        padding: 15px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .menuLists {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 1fr 1fr;
        column-gap: 25px;
        margin-bottom: 25px;
    }

    .menuLists img {
        height: 100%;
        width: fit-content;
        overflow: hidden;
    }

    .menuLists .list:nth-of-type(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .list .textbox {
        height: fit-content;
    }

    .menuLists .list:nth-of-type(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .menuLists img {
        grid-column: 2/4;
        grid-row: 1/3;
        overflow: hidden;
    }
}

@media screen and (min-width: 1024px) {

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 14px;
        padding-left: 55px;
        padding-right: 55px;
    }

    body {
        max-width: 1264px;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        width: 25%;
    }

    .mainContent {
        padding: 25px;
        padding-left: 55px;
        padding-right: 55px;
    }
    
    .firstContent {
        grid-template-areas: 
        "image image text text"
        "image image text text"
        ". icons icons .";
        column-gap: 58px;
        row-gap: 25px;
        margin-bottom: 25px;
    }

    .firstImg {
        margin: 0px;
    }

    .rightTop {
        max-height: fit-content;
    }

    .webIcons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0px;
    }

    div .web {
        width: 184px;
    }

    div .web:hover {
        animation-name: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    .webLeft, .webRight {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .galImages {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        height: auto;
        justify-content: space-evenly;
        width: 100%;
        
    }

    .title {
        margin-bottom: 25px;
    }

    .galImages img {
        max-width: 286px;
    }

    .galOne, .galTwo {
        max-height: 100%;
    }

    /* Menu Page */

    .fOne {
        display: block;
    }

    .fTwo {
        display: none;
    }

    .menuIcons {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .mIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuIcons img {
        width: 150px;
        height: auto;
        margin-bottom: 25px;
    }

    .mIcon h4{
        justify-self: center;
        color: #5E314B;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .menuLists {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 1fr;
        column-gap: 25px;
        margin-bottom: 25px;
    }

    .list .textbox {
        height: fit-content;
    }

    .menuLists .list:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 1;
    }

    .menuLists .list:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 1;
    }    

    .menuLists img {
        grid-column: 3/5;
        grid-row: 1;
        max-width: 100%;
    }

    .textbox {
        padding: 15px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px;
        height: 100%;
        display: flex;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .textbox ul {
        margin-top: auto;
        margin-bottom: auto;
    }

}

